.cube {
    --size: 10em;
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: 5em;
    left: 45vw;
    perspective: 500px;
    transform-style: preserve-3d; 
    animation-name: perspective;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.side {
    --side-offset: calc(var(--size) / 2);
    width: var(--size);
    height: var(--size);
    background-color: rgba(137, 43, 226, 0.249);
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.132);
    position: absolute;
    text-align: center;
    line-height: var(--size);
    transform: translateZ(var(--side-offset));
}
.side span {
    font-size: 4em;
}
.left { transform: rotateY(-90deg) translateZ(var(--side-offset));}
.top {transform: rotateX(90deg) translateZ(var(--side-offset));}
.bottom {transform: rotateX(-90deg) translateZ(var(--side-offset));}
.right {transform: rotateY(90deg) translateZ(var(--side-offset));}
.back {transform: rotateX(-180deg) translateZ(var(--side-offset));}

@keyframes perspective {
     0% {perspective-origin: 50% 50%;}
     25% {perspective-origin: 100% 0%;}
     50% {perspective-origin: 100% 100%;}
     75% {perspective-origin: 0% 100%;}
     100% {perspective-origin: 0% 0%;}
}
